<div class="titre2">
    <h1 style="text-align: left;"> Liste de tous les Feedbacks</h1>

</div>
<div class="tablo1">

    <input type="text" placeholder="Recherche ..." (input)="filterItem($event.target.value)"
        class="col-2 form-control form-control-sm" style="border-radius: 100px;border-color: gray;">

     <br>
    <table class="table table-bordered  table-centered mb-0">
        <thead class="table-dark">
            <tr>
                <th>identificateur</th>
                <th>Formation</th>
                <th>Utilisateur</th>
                <th>Description</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of feedbacks | paginate: { itemsPerPage: 3, currentPage: p }">
                <td>{{i._id}}</td>
                <td>{{i.formation[0].title}}</td>
                <td> {{i.utilisateur[0].name}} {{i.utilisateur[0].lastname}}</td>
                <td>{{i.description}}</td>
                <td>
                    <a (click)="delete(i._id)" class="action-icon"> <i class="mdi mdi-delete"></i></a>


                </td>


            </tr>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>



        </tbody>
    </table>


</div>