<div class="footer-distributed">

    <div class="footer-left">

        <h3>Technologia<span>Academy</span></h3>
        <span>
            TECHNOLOGIA ACADEMY est une entreprise privée tunisienne située <br> à technopole Manouba, Tunisie.
            C’est une startup de formation professionnelle <br> qui offre une variété des cours dans les domaines de
            programmation <br> et de marketing digital.
            La startup a été fondée en 2018 par Mr. Med Amine Hlali
        </span>



        <p class="footer-company-name">Technologia Academy © 2018</p>


    </div>

    <div class="footer-right">

        <p>Contacter l'administration</p>

        <form action="#" method="post">

            <input type="text" name="email" placeholder="Email">
            <textarea name="message" placeholder="Message"></textarea>
            <button type="button" class="btn btn-light">Envoyer</button>

        </form>

    </div>

</div>