<div class="titre1">
    <h1> Ajouter un formatteur</h1>
</div>
<div class="formAB">
    <form #ajouterFormatteurnewform="ngForm" (ngSubmit)="ajouterformatteur(ajouterFormatteurnewform.value)"
        class="needs-validation" novalidate>
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Nom</label>
            <input required #name="ngModel" minlength="3" name="Formatteurnew.name" [(ngModel)]="Formatteurnew.name"
                [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="validationCustom01"
                placeholder="Nom" required>
            <div *ngIf="name.touched && name.invalid" class="errors">
                <div *ngIf="name.errors.required" style="color: red;">Nom obligatoire </div>
                <div *ngIf="name.errors.minlength" style="color: red;">le nom doit etre sup a 3 lettres</div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom02">Prenom</label>
            <input required #lastname="ngModel" minlength="3" lastname="Formatteurnew.lastname"
                [(ngModel)]="Formatteurnew.lastname" [ngModelOptions]="{standalone: true}" type="text"
                class="form-control" id="validationCustom02" placeholder="Prenom" required>
            <div *ngIf="lastname.touched && lastname.invalid" class="errors">
                <div *ngIf="lastname.errors.required" style="color: red;">Prenom obligatoire </div>
                <div *ngIf="lastname.errors.minlength" style="color: red;">le Prenom doit etre sup a 3 lettres</div>
            </div>

        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom03">Genre</label> <br> <br>
            <input type="radio" value="homme " id="genre" name="genre" #genre="ngModel" required
                [(ngModel)]="Formatteurnew.genre">
            homme  &nbsp; &nbsp;
            <input type="radio" value="femme" id="genre" name="genre" #genre="ngModel" required
                [(ngModel)]="Formatteurnew.genre"> femme
                <div *ngIf="!genre?.valid && (genre?.dirty || genre?.touched)" class="error">
                    <div *ngIf="genre.errors.required">
                      genre obligatoire
                    </div>
                  </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom04">Age</label>
            <input  required #age="ngModel" age="Formatteurnew.age" [(ngModel)]="Formatteurnew.age" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                id="validationCustom04" placeholder="Age" required>
                <div *ngIf="age.touched && age.invalid" class="errors">
                    <div *ngIf="age.errors.required" style="color: red;">age obligatoire </div>
                </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom05">Specialité</label>
            <input required #specialites="ngModel" age="Formatteurnew.specialites" [(ngModel)]="Formatteurnew.specialites" [ngModelOptions]="{standalone: true}" type="text"
                class="form-control" id="validationCustom05" placeholder="Specialité" required>
                <div *ngIf="specialites.touched && specialites.invalid" class="errors">
                    <div *ngIf="specialites.errors.required" style="color: red;">Specialité obligatoire </div>
                </div>
        </div>
        <div class="mb-3">
            <label for="example-fileinput" class="form-label">Image</label>
            <input (change)="select($event)" type="file" id="example-fileinput" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom06">lien facebook</label>
            <input  [(ngModel)]="Formatteurnew.linkfacebook" [ngModelOptions]="{standalone: true}" type="text"
                class="form-control" id="validationCustom05" placeholder="LinkFacebook" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom07">lien linkedin</label>
            <input [(ngModel)]="Formatteurnew.linklinkedin" [ngModelOptions]="{standalone: true}" type="text"
                class="form-control" id="validationCustom05" placeholder="LinkLinkedIn" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom08">Email</label>
            <input type="email" required #email="ngModel" email email="Formatteurnew.email" [(ngModel)]="Formatteurnew.email" [ngModelOptions]="{standalone: true}" type="text"
                class="form-control" id="validationCustom05" placeholder="xyz@domain.com" required>
                <div *ngIf="email.touched && email.invalid" class="errors">
                    <div *ngIf="email.errors.required" style="color: red;">email obligatoire </div>
                    <div *ngIf="email.errors.email" style="color: red;">email doit etre sous la forme de xyz@domain.com </div>
                </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom09">Telephone</label>
            <input required #tel="ngModel" [pattern]="mobNumberPattern" tel="Formatteurnew.tel" [(ngModel)]="Formatteurnew.tel" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                id="validationCustom05" placeholder="Telephone" required>
                <div *ngIf="tel.touched && tel.invalid" class="errors">
                    <div *ngIf="tel.errors.required" style="color: red;">telephone obligatoire </div>
                    <div *ngIf="tel.errors.pattern" style="color: red;"> Le telephone doit avoir 8 chiffres</div> 
                </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom10">mot de passe</label>
            <input required #password="ngModel" minlength="6" password="Formatteurnew.password"  [(ngModel)]="Formatteurnew.password" [ngModelOptions]="{standalone: true}" type="text"
                class="form-control" id="validationCustom05" placeholder="Password" required>
                <div *ngIf="password.touched && password.invalid" class="errors">
                    <div *ngIf="password.errors.required" style="color: red;">mot de passe obligatoire </div>
                    <div *ngIf="password.errors.minlength" style="color: red;">mot de passe doit avoir plus que 6 caracteres </div>
                </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom11">Role</label>
            <input readonly value="2" required #role="ngModel" [pattern]="rolePattern" role="Formatteurnew.role" [(ngModel)]="Formatteurnew.role" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                id="validationCustom05" placeholder="2" required>
        </div>
        <button [disabled]="name.invalid ||  lastname.invalid || genre.invalid || age.invalid || specialites.invalid
        || email.invalid || tel.invalid || password.invalid" (click)="ajouterformatteur(Formatteurnew)"
            class="btn btn-primary" type="submit">Ajouter le formatteur</button>
    </form>

</div>