<div class="card1">
    <div class="card bg-secondary"> 
        <div class="card-body profile-user-box">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="avatar-xl">
                                <img [src]=" endpoint.url + 'getimage/' + Etudiantdetails.image" alt=""
                                    class="avatar-title bg-success rounded">
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h3 class="mt-1 mb-1 text-white">Nom : {{Etudiantdetails.name}} <br>  Prenom :
                                    {{Etudiantdetails.lastname}}</h3>
                                <p class="font-13 text-white-50" > Role :  {{Etudiantdetails.role}}</p>

                                <ul class="mb-0 list-inline text-light">
                                    <li class="list-inline-item me-3">
                                        <h4 class="mb-1">Specialité</h4>
                                        <p class="mb-0 font-13 text-white-50">{{Etudiantdetails.specialites}}</p>
                                    </li>
                                    <li class="list-inline-item">
                                        <h4 class="mb-1">Telephone</h4>
                                        <p class="mb-0 font-13 text-white-50">{{Etudiantdetails.tel}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col-->

                <div class="col-sm-4">
                    <div class="text-center mt-sm-0 mt-3 text-sm-end">
                        <button [routerLink]="['/admindashboard/modifieretudiant', Etudiantdetails._id]" type="button"
                            class="btn btn-light">
                            <i class="mdi mdi-account-edit me-1"></i> modifier l'etudiant </button>
                        <br><br>
                        <button (click)="delete(Etudiantdetails._id)" type="button" class="btn btn-danger">
                            <i class="mdi mdi-account-edit me-1"></i> Supprimer l'etudiant </button>
                    </div>
                </div> <!-- end col-->
            </div> <!-- end row -->

        </div> <!-- end card-body/ profile-user-box-->
    </div>
    <div class="card15">
        <p class="text-muted mb-2 font-20"><strong>ID :</strong><span class="ms-2"> {{Etudiantdetails._id}} </span></p>
        <p class="text-muted mb-2 font-20"><strong>Age :</strong><span class="ms-2"> {{Etudiantdetails.age}} </span></p>
        <p class="text-muted mb-2 font-20"><strong>Genre :</strong><span class="ms-2"> {{Etudiantdetails.genre}} </span></p>
        <p class="text-muted mb-2 font-20"><strong>Email :</strong><span class="ms-2"> <a [href]="'mailto:' + Etudiantdetails.email">  {{Etudiantdetails.email}} </a> </span></p>
        
        <p>
            <span>
                <li class="list-inline-item">
                    <a href="{{Etudiantdetails.linkfacebook}}" class="social-list-item border-primary text-primary"><i
                            class="mdi mdi-facebook"></i></a>
                </li> &nbsp; &nbsp;
                <li class="list-inline-item">
                    <a href="{{Etudiantdetails.linklinkedin}}" class="social-list-item border-primary text-primary"><i
                            class="mdi mdi-linkedin"></i></a>
                </li>
            </span>
    
    
        </p>
    
    </div>
</div>
