<div class="container" >
    <div class="row">
        <div class="col-12">
            <div class="card text-center bg-dark text-light">
                <div class="card-body">
                    <img [src]=" endpoint.url + 'getimage/' + formatteurdata.image"  class="rounded-circle avatar-lg img-thumbnail"
                    alt="profile-image">

                    <h4 class="mb-0 mt-2">{{formatteurdata.name}} {{formatteurdata.lastname}}</h4>
                    <p class="text-muted font-14">Formatteur</p>

                    <div class="text-start mt-3">
                        <h4 class="font-13 text-uppercase">Mes infos personnelles</h4>
                        <p class="text-muted mb-1 font-13"><strong>Genre :</strong> <span class="ms-2">{{formatteurdata.genre}}</span></p>

                        <p class="text-muted mb-2 font-13"><strong> Age : </strong> <span class="ms-2">{{formatteurdata.age}}
                                </span></p>

                        <p class="text-muted mb-2 font-13"><strong>Telephone  :</strong><span class="ms-2">(216)
                               {{formatteurdata.tel}} </span></p>

                        <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span class="ms-2 ">{{formatteurdata.email}}</span></p>

                        <p class="text-muted mb-1 font-13"><strong>specialité :</strong> <span class="ms-2">{{formatteurdata.specialites}}</span></p>
                        
                    </div>

                    <ul class="social-list list-inline mt-3 mb-0">
                        <li class="list-inline-item">
                            <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i
                                    class="mdi mdi-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i
                                    class="mdi mdi-google"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript: void(0);" class="social-list-item border-info text-info"><i
                                    class="mdi mdi-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i
                                    class="mdi mdi-github"></i></a>
                        </li>
                    </ul>
                </div> <!-- end card-body -->
            </div> 

        </div>

    </div>

</div>