.tablo1 {
    margin-top: 70px;
    padding-left: 250px;
    /* overflow-x: auto; */
    white-space: nowrap;
}
.titre2 {
    margin-left: 300px;
    margin-top: 100px;

}

                                    