<div class="titre1">
    <h1> Ajouter une Emploi</h1>
</div>
<div class="formAB">
    <form #ajouteremploinewform="ngForm" (ngSubmit)="ajouteremploi()" class="needs-validation" novalidate>
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">title</label>
            <input [(ngModel)]="Emploinew.title" [ngModelOptions]="{standalone: true}" type="text"
                class="form-control" id="validationCustom01" placeholder="title" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom02">description</label>
            <input [(ngModel)]="Emploinew.description" [ngModelOptions]="{standalone: true}" type="text"
                class="form-control" id="validationCustom02" placeholder="description" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom03">date&heure debut</label>
            <input [(ngModel)]="Emploinew.date_debut" [ngModelOptions]="{standalone: true}" type="datetime-local"
                class="form-control" id="validationCustom03" placeholder="date&heure debut" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom03">date&heure fin</label>
            <input [(ngModel)]="Emploinew.date_fin" [ngModelOptions]="{standalone: true}" type="datetime-local"
                class="form-control" id="validationCustom03" placeholder="date&heure fin" required>
        </div>
        <label class="form-label" for="validationCustom04">Formation</label>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
            <select [(ngModel)]="Emploinew.idFormation"  [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01">
                <option selected>Choisir une Formation...</option>
                <option *ngFor="let i of formation" [value]='i._id'>{{i.title}}</option>
            </select>
        </div>
        <button (click)="ajouteremploi(Emploinew)" class="btn btn-primary" type="submit">Ajouter l'emploi
            </button>
    </form>

</div>