<div class="titre1">
    <h1> modifier la formation ayant l'ID <u> {{_id}} </u></h1>
</div>
<div class="formAB">
    <form #modifierFormationnewform="ngForm" (ngSubmit)="modifierformation()" class="needs-validation" novalidate>
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">title</label>
            <input [(ngModel)]="Formationnew.title" [ngModelOptions]="{standalone: true}" type="text"
                class="form-control" id="validationCustom01" placeholder="title" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom02">description</label>
            <input [(ngModel)]="Formationnew.description" [ngModelOptions]="{standalone: true}" type="text"
                class="form-control" id="validationCustom02" placeholder="description" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom03">date</label>
            <input [(ngModel)]="Formationnew.date" [ngModelOptions]="{standalone: true}" type="date"
                class="form-control" id="validationCustom03" placeholder="date" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom04">Nombre d'heures</label>
            <input [(ngModel)]="Formationnew.nbr_heur" [ngModelOptions]="{standalone: true}" type="text"
                class="form-control" id="validationCustom04" placeholder="nombre d'heures" required>
        </div>
        <label class="form-label" for="validationCustom04">Formatteur</label>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Choisir un formatteur...</option>
                <option *ngFor="let i of formatteur" value=i>{{i._id}}</option>

            </select>
        </div>
        <div class="mb-3">
            <label for="example-fileinput" class="form-label">Image</label>
            <input (change)="select($event)" type="file" id="example-fileinput" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom06">Prix</label>
            <input [(ngModel)]="Formationnew.prix" [ngModelOptions]="{standalone: true}" type="text"
                class="form-control" id="validationCustom05" placeholder="Prix" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom07">Technologies</label>
            <input [(ngModel)]="Formationnew.technologies" [ngModelOptions]="{standalone: true}" type="text"
                class="form-control" id="validationCustom05" placeholder="Technologies" required>
        </div>
        <div>
            <label class="form-label" for="validationCustom07">Groupe d'etudiants participé </label>
            <ng-multiselect-dropdown [placeholder]="'Choisir 1 ou plusieurs etudiants'" [settings]="dropdownSettings"
                [data]="etudiant" [(ngModel)]="Formationnew.groupe" [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
        </div>
        <br> <br>
        <button (click)="modifierformation(Formationnew)" class="btn btn-primary" type="submit">modifier la
            formation</button>
    </form>

</div>